<header class="header">
  <nav class="header-nav">
    <div class="header-menu-container">
      <div class="js-header-menu">
        <button class="js-animated-button js-menu-toggle cta-button nav-button desktop-nav glass-button">
          <%= image_tag "icons/icon_menu_dark.png", class: "button-icon" %>
        </button>

        <div class="js-header-drawer header-menu-nav-drawer">
          <button class="js-animated-button cta-button nav-button menu-fix-width text glass-button" data-action="navigate" data-target="<%= root_path %>">
            <p class="small"><%= t('header.home') %></p>
            <%= image_tag "icons/icon_right_dark.png", class: "button-icon small" %>
          </button>  
        
          <button class="js-animated-button cta-button nav-button menu-fix-width text glass-button" data-action="navigate" data-target="<%= projects_path %>">
            <p class="small"><%= t('header.projects') %></p>
            <%= image_tag "icons/icon_right_dark.png", class: "button-icon small" %>
          </button>
          
          <button class="js-animated-button cta-button nav-button menu-fix-width text glass-button" data-action="navigate" data-target="<%= about_path %>" data-tracking="aboutClick">
            <p class="small"><%= t('header.about') %></p>
            <%= image_tag "icons/icon_right_dark.png", class: "button-icon small" %>
          </button>
        </div>
      </div>
    </div>
    <div class="header-menu-container column">
      <div class="header-menu-container header-right-controls">
        <div class="js-header-menu">
          <button class="js-animated-button js-menu-toggle cta-button language-fix-width nav-button glass-button">
            <%= image_tag "icons/icon_language_dark.png", class: "button-icon" %>
            <%= image_tag "icons/icon_down_dark.png", class: "button-icon small" %>
          </button>

          <div class="js-header-drawer header-menu-nav-drawer">
            <%= link_to 'EN', url_for(request.params.merge(locale: 'en')), class: "js-animated-button cta-button nav-button glass-button language-fix-width" %>

            <%= link_to 'PT', url_for(request.params.merge(locale: 'pt')), class: "js-animated-button cta-button nav-button glass-button language-fix-width" %>
          </div>
        </div>
        <div class="coin-summary-wrapper no-transition">
          <button class="js-animated-button js-coin-summary coin-summary cta-button fixed-width glass-button hidden">
            <div class="gold-coin-container">
              <%= image_tag "icons/coin-gold.svg", class: "summary-icon" %>
            </div>
            <div class="js-coin-amount coin-amount"></div>
          </button>
        </div>
      </div>
      <div class="js-notification-container notification-container closed">
        <div class="js-notification-close-btn notification-close-btn-container">
          <button class="notification-close-btn"><%= image_tag "icons/icon_x_dark_thin.png", class: "button-icon small" %></button>
        </div>
        <div class="js-notification-text-container" data-translations="<%= t('notifications').to_json %>">
          <p class="js-notification-title notification-title"></p>
          <p class="js-notification-description"></p>
        </div>
      </div>
    </div>
  </nav>
</header>