<nav class="mobile-nav">
  <div class="mobile-nav-container">
    <div class="js-mobile-nav-indicator mobile-nav-indicator"></div>

    <%# --- Home Button --- %>
    <button class="js-mobile-nav-button mobile-nav-button <%= 'active-tab' if current_page?(root_path) %>" data-action="navigate" data-target="<%= root_path %>">
      <div class="mobile-nav-icon-container">
        <%= image_tag "icons/icon_mobile_nav_home_light.png", class: "mobile-nav-icon" %> 
        <%= image_tag "icons/icon_mobile_nav_home_dark.png", class: "js-nav-toggle mobile-nav-icon #{'inactive' unless current_page?(root_path)}" %>
      </div>
      <div class="js-nav-toggle mobile-nav-text <%= 'inactive' unless current_page?(root_path) %>"><%= t('mobile_nav.home_nav') %></div>
    </button>

    <%# --- Projects Button --- %>
    <%# Note: We use a custom check for projects so it stays active on sub-pages %>
    <% is_projects = request.path.match?(%r{\A/(en|pt)?/?projects}) %>
    <button class="js-mobile-nav-button mobile-nav-button <%= 'active-tab' if is_projects %>" data-action="navigate" data-target="<%= projects_path %>">
      <div class="mobile-nav-icon-container">
        <%= image_tag "icons/icon_mobile_nav_app_light.png", class: "mobile-nav-icon" %>
        <%= image_tag "icons/icon_mobile_nav_app_dark.png", class: "js-nav-toggle mobile-nav-icon #{'inactive' unless is_projects}" %>
      </div>
      <div class="js-nav-toggle mobile-nav-text <%= 'inactive' unless is_projects %>"><%= t('mobile_nav.projects_nav') %></div>
    </button>

    <%# --- About Button --- %>
    <button class="js-mobile-nav-button mobile-nav-button <%= 'active-tab' if current_page?(about_path) %>" data-action="navigate" data-target="<%= about_path %>">
      <div class="mobile-nav-icon-container">
        <%= image_tag "icons/icon_mobile_nav_about_light.png", class: "mobile-nav-icon" %> 
        <%= image_tag "icons/icon_mobile_nav_about_dark.png", class: "js-nav-toggle mobile-nav-icon #{'inactive' unless current_page?(about_path)}" %>
      </div>
      <div class="js-nav-toggle mobile-nav-text <%= 'inactive' unless current_page?(about_path) %>"><%= t('mobile_nav.about_nav') %></div>
    </button>

  </div>
</nav>