<div class="projects-container">

  <%# Jiko %>
  <% unless local_assigns[:skip] == "jiko" %>
    <%= render "shared/project_card", 
        title: "JIKO App", 
        image_path: "/images/projects/jiko/jiko_icon.png", 
        tags: ["Ruby on Rails", "Docker", "PostgreSQL", "CI/CD"], 
        path: "#", 
        i18n_key: "projects.jiko_project_description",
        button_text: t('projects.status.coming_soon'),
        disabled: true
    %>
  <% end %>

  <%# N8N WhatsApp %>
  <% unless local_assigns[:skip] == "n8n_whatsapp" %>
    <%= render "shared/project_card", 
        title: "WhatsApp News Feed Automation", 
        image_path: "/images/projects/n8n_whatsapp/n8n_whatsapp_icon.png", 
        tags: ["N8N", "Evolution API", "WhatsApp", "Docker"], 
        path: "#", 
        i18n_key: "projects.n8n_whatsapp_project_description",
        button_text: t('projects.status.coming_soon'),
        disabled: true,
        short_text: true
    %>
  <% end %>

  <%# acoelho.dev %>
  <% unless local_assigns[:skip] == "acoelho" %>
    <%= render "shared/project_card",
        title: "acoelho.dev",
        image_path: "/images/projects/acoelho/acoelho_icon.png",
        tags: ["Ruby on Rails", "Docker", "PostgreSQL", "i18n"],
        path: pages_acoelho_path,
        i18n_key: "projects.acoelho_project_description_html"
    %>
  <% end %>

  <%# Trofy %>
  <% unless local_assigns[:skip] == "trofy" %>
    <%= render "shared/project_card", 
        title: "Trofy", 
        image_path: "/images/projects/trofy/Trofy_AppIcon.png", 
        tags: ["C#", "Unity", "iOS", "Android"], 
        path: pages_trofy_path, 
        i18n_key: "projects.trofy_project_description" 
    %>
  <% end %>

  <%# Born Survivor %>
  <% unless local_assigns[:skip] == "born_survivor" %>
    <%= render "shared/project_card", 
        title: "Born Survivor", 
        image_path: "/images/projects/born_survivor/BornSurvivor_AppIcon.png", 
        tags: ["C#", "Unity"], 
        path: pages_born_survivor_path, 
        i18n_key: "projects.bs_project_description" 
    %>
  <% end %>

  <%# Flappy Astronaut %>
  <% unless local_assigns[:skip] == "flappy_astronaut" %>
    <%= render "shared/project_card", 
        title: "Flappy Astronaut", 
        image_path: "/images/projects/flappy_astronaut/FlappyAstronaut_AppIcon.png", 
        tags: ["C#", "Unity"], 
        path: pages_flappy_astronaut_path, 
        i18n_key: "projects.fa_project_description" 
    %>
  <% end %>
</div>