<div class="project-container fade-right">
  <div class="project-container-top">
    <div class="project-image-container">
      <img class="project-image" src="<%= image_path %>">
    </div>
    <div class="project-summary">
      <div class="project-summary-container">
        <h1 class="project-title-text"><%= title %></h1>
        <div class="project-summary-tags">
          <% tags.each do |tag| %>
            <div class="stack-tag"><%= tag %></div>
          <% end %>
        </div>
        <button class="js-animated-button cta-button project-cta" data-action="navigate" data-target="<%= path %>"><%= t('index.learn_more_btn') %></button>
      </div>
    </div>
  </div>
  <p class="project-description-text"><%= t(i18n_key) %></p> 
</div>