<% content_for :page_specific_js do %>
  <%= render "shared/prism_loader", languages: ["csharp"] %>
<% end %>

<main class="main-container">
  <section class="post-section">
    <img class="post-banner-image cover" src="/images/projects/flappy_astronaut/Portfolio_Flying_FlappyAstronaut.jpg">
    <div class="post-container">
      <h1 class="post-heading title center">Flappy Astronaut</h1>
      <div class="post-intro-wrapper">
        <div class="post-list-container center gap">
          <p class="post-text"><%= t('portfolio.fa.category_html') %></p>
          <p class="post-text"><%= t('portfolio.fa.stack_html') %></p>
          <p class="post-text"><%= t('portfolio.fa.inspiration_html') %></p>
        </div>
        <div class="post-spacing"></div>
        <div class="post-list-container">
          <h3 class="post-text text-highlight"><%= t('portfolio.fa.index') %></h3>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#objective"><%= t('portfolio.fa.objective') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#concepts"><%= t('portfolio.fa.concepts') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#stack" href="#concepts"><%= t('portfolio.fa.tech') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#logic"><%= t('portfolio.fa.logic') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#design"><%= t('portfolio.fa.design') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#demo"><%= t('portfolio.fa.demo') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#learnings"><%= t('portfolio.fa.learnings') %></a></p>
        </div>
      </div>

      <div class="post-line"></div>

      <h2 class="post-heading" id="objective"><%= t('portfolio.fa.objective') %></h2>
      <p class="post-text"><%= t('portfolio.fa.objective_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.objective_2') %></p>
      <a href="/images/projects/flappy_astronaut/Portfolio_Cover_StartScreen_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="/images/projects/flappy_astronaut/Portfolio_Cover_StartScreen_FlappyAstronaut.jpg"></a>
      <p class="post-text"><%= t('portfolio.fa.objective_3_html') %></p>
      <p class="post-text"><%= t('portfolio.fa.objective_4') %></p>

      <div class="post-line"></div>
      
      <h2 class="post-heading" id="concepts"><%= t('portfolio.fa.concepts') %></h2>
      <%= link_to t("portfolio.fa.images.concepts"), target: "_blank" do %>
        <%= image_tag t("portfolio.fa.images.concepts"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.fa.concepts_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.concepts_2') %></p>
      <p class="post-text"><%= t('portfolio.fa.concepts_3') %></p>
      <p class="post-text"><%= t('portfolio.fa.concepts_4') %></p>
      <a href="/images/projects/flappy_astronaut/Portfolio_Death_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="/images/projects/flappy_astronaut/Portfolio_Death_FlappyAstronaut.jpg"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="stack"><%= t('portfolio.fa.tech') %></h2>
      <a class="post-logo-link" href="https://unity.com/" target="_blank"><img class="post-logo" src="/images/unity_logo_white.png"></a>
      <p class="post-text"><%= t('portfolio.fa.tech_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.tech_2') %></p>
      <a class="post-logo-link" href="https://www.w3schools.com/cs/index.php" target="_blank"><img class="post-logo" src="/images/csharp_logo_white.png"></a>
      <p class="post-text"><%= t('portfolio.fa.tech_3') %></p>
      <a class="post-logo-link" href="https://www.aseprite.org/" target="_blank"><img class="post-logo" src="/images/aseprite_logo_white.png"></a>
      <p class="post-text"><%= t('portfolio.fa.tech_4') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="logic"><%= t('portfolio.fa.logic') %></h2>
      <%= link_to t("portfolio.fa.images.logic"), target: "_blank" do %>
        <%= image_tag t("portfolio.fa.images.logic"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.fa.logic_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.logic_2') %></p>
      <a href="/images/projects/flappy_astronaut/Portfolio_FlappyAstronaut_FolderStructure.png" target="_blank"><img class="post-image half center shadow" src="/images/projects/flappy_astronaut/Portfolio_FlappyAstronaut_FolderStructure.png"></a>
      <p class="post-text"><%= t('portfolio.fa.logic_3_html') %></p>
      <pre><code class="language-javascript">// Asteroid Movement Snippet

void Update() {
  transform.position = transform.position + ( Vector3.left * moveSpeed ) * Time.deltaTime;

  if(transform.position.x < deadZone)
  {
    Debug.Log("Asteroid Deleted");
    Destroy(gameObject);
  }
}</code></pre>

      <div class="post-line"></div>

      <h2 class="post-heading" id="design"><%= t('portfolio.fa.design') %></h2>
      <%= link_to t("portfolio.fa.images.design"), target: "_blank" do %>
        <%= image_tag t("portfolio.fa.images.design"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.fa.design_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.design_2_html') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="demo"><%= t('portfolio.fa.demo') %></h2>
      <div class="post-video">
        <iframe 
          src="https://www.youtube-nocookie.com/embed/EHW0vRHUnHc?si=0fKeWdo6ZkSsoUWa"
          title="YouTube video player"
          loading="lazy"
          style="border: 0; border-radius: 20px;"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
      <div class="post-spacing"></div>
      <p class="post-text half center"><%= t('portfolio.fa.demo_1') %></p>
      <img class="post-image half center" src="/images/projects/flappy_astronaut/Flappy_Astronaut_exe_art.png">
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/FlappyAstronaut-V1.0.0-PC-Demo" data-new-tab="true"><%= t('portfolio.fa.demo_btn') %></button>
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/FlappyAstronaut" data-new-tab="true"><%= t('portfolio.fa.dir_btn') %></button>

      <div class="post-line"></div>

      <h2 class="post-heading" id="learnings"><%= t('portfolio.fa.learnings') %></h2>
      <a href="/images/projects/flappy_astronaut/Portfolio_Oxygen_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="/images/projects/flappy_astronaut/Portfolio_Oxygen_FlappyAstronaut.jpg"></a>
      <p class="post-text"></p>
      <p class="post-text"><%= t('portfolio.fa.learnings_1') %></p>
      <p class="post-text"><%= t('portfolio.fa.learnings_2') %></p>
      <ol type="1" class="post-text">
        <li><%= t('portfolio.fa.learnings_li_1_html') %></li>
        <li><%= t('portfolio.fa.learnings_li_2_html') %></li>
        <li><%= t('portfolio.fa.learnings_li_3_html') %></li>
        <li><%= t('portfolio.fa.learnings_li_4_html') %></li>
        <li><%= t('portfolio.fa.learnings_li_5_html') %></li>
      </ol>
      <img class="post-image half center" src="/images/projects/flappy_astronaut/Flappy_Astronaut_Asteroid_art.png">
      <p class="post-text center"><%= t('portfolio.fa.closing') %></p>
      <div class="post-spacing"></div>
      <div class="post-line"></div>
    </div>
  </section>

  <section class="post-references-section">
    <div class="post-references-container">
      <p class="post-text center half text-highlight"><%= t('about.cta_projects') %></p>
      <%= render "shared/projects_list", skip: "flappy_astronaut" %>
    </div>
  </section>
</main>