<% content_for :page_specific_js do %>
  <%= render "shared/prism_loader", languages: ["csharp"] %>
<% end %>

<main class="main-container">
  <section class="post-section">
    <img class="post-banner-image cover" src="/images/projects/trofy/Cover_Trofy.jpg">
    <div class="post-container">
      <h1 class="post-heading title center">Trofy</h1>
      <div class="post-intro-wrapper not-selectable">
        <div class="post-list-container center gap">
          <p class="post-text"><%= t('portfolio.trofy.category_html') %></p>
          <p class="post-text"><%= t('portfolio.trofy.stack_html') %></p>
          <p class="post-text"><%= t('portfolio.trofy.inspiration_html') %></p>
        </div>
        <div class="post-spacing"></div>
        <div class="post-list-container">
          <h3 class="post-text text-highlight"><%= t('portfolio.trofy.index') %></h3>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#objective"><%= t('portfolio.trofy.objective') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#concepts"><%= t('portfolio.trofy.concepts') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#user"><%= t('portfolio.trofy.user') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#stack"><%= t('portfolio.trofy.tech') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#logic"><%= t('portfolio.trofy.logic') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#design"><%= t('portfolio.trofy.design') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#wireframe"><%= t('portfolio.trofy.wireframe') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#roadmap"><%= t('portfolio.trofy.roadmap') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#demo"><%= t('portfolio.trofy.demo') %></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#learnings"><%= t('portfolio.trofy.learnings') %></a></p>
        </div>
      </div>

      <div class="post-line"></div>

      <h2 class="post-heading" id="objective"><%= t('portfolio.trofy.objective') %></h2>
      <p class="post-text"><%= t('portfolio.trofy.objective_1') %></p>
      <a href="/images/projects/trofy/Trofy_IntroScreen_GIF.gif" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_IntroScreen_GIF.gif"></a>
      <p class="post-text"><%= t('portfolio.trofy.objective_2') %></p>
      <p class="post-text"><%= t('portfolio.trofy.objective_3') %></p>

      <div class="post-line"></div>
      
      <h2 class="post-heading" id="concepts"><%= t('portfolio.trofy.concepts') %></h2>
      <%= link_to t("portfolio.trofy.images.concepts"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.concepts"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.concepts_1') %></p>
      <h2 class="post-heading"><%= t('portfolio.trofy.concepts_2') %></h2>
      <p class="post-text"><%= t('portfolio.trofy.concepts_3') %></p>
      <a href="/images/projects/trofy/Trofy_Completing_GIF.gif" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Completing_GIF.gif"></a>
      <p class="post-text"><%= t('portfolio.trofy.concepts_4') %></p>
      <%= link_to t("portfolio.trofy.images.gamification"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.gamification"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.concepts_5') %></p>
      <a href="/images/projects/trofy/Trofy_Objective_Portfolio.jpg" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Objective_Portfolio.jpg"></a>
      <p class="post-text"><%= t('portfolio.trofy.concepts_6') %></p>
      <h2 class="post-heading"><%= t('portfolio.trofy.concepts_7') %></h2>
      <p class="post-text"><%= t('portfolio.trofy.concepts_8') %></p>
      <p class="post-text"><%= t('portfolio.trofy.concepts_9') %></p>
      <a href="/images/projects/trofy/Trofy_ChallengeCustomize_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_ChallengeCustomize_Portfolio.png"></a>
      <ol type="a" class="post-text">
        <li><%= t('portfolio.trofy.concepts_10_html') %></li>
        <li><%= t('portfolio.trofy.concepts_11_html') %></li>
      </ol>
      <h2 class="post-heading"><%= t('portfolio.trofy.concepts_12') %></h2>
      <p class="post-text"><%= t('portfolio.trofy.concepts_13') %></p>
      <a href="/images/projects/trofy/Trofy_TwoObjectives_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_TwoObjectives_Portfolio.png"></a>
      <p class="post-text"><%= t('portfolio.trofy.concepts_14') %></p>
      <a href="/images/projects/trofy/Trofy_Drawer_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Drawer_Portfolio.png"></a>
      <p class="post-text"><%= t('portfolio.trofy.concepts_15') %></p>
      <a href="/images/projects/trofy/Trofy_ProgressTutorial_Portfolio.jpg" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_ProgressTutorial_Portfolio.jpg"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="user"><%= t('portfolio.trofy.user') %></h2>
      <%= link_to t("portfolio.trofy.images.user"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.user"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.user_1') %></p>
      <p class="post-text"><%= t('portfolio.trofy.user_2') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="stack"><%= t('portfolio.trofy.tech') %></h2>
      <a class="post-logo-link" href="https://unity.com/" target="_blank"><img class="post-logo" src="/images/unity_logo_white.png"></a>
      <p class="post-text"><%= t('portfolio.trofy.tech_1') %></p>
      <a class="post-logo-link" href="https://www.w3schools.com/cs/index.php" target="_blank"><img class="post-logo" src="/images/csharp_logo_white.png"></a>
      <p class="post-text"><%= t('portfolio.trofy.tech_2') %></p>
      <p class="post-text"><%= t('portfolio.trofy.tech_3_html') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="logic"><%= t('portfolio.trofy.logic') %></h2>
      <%= link_to t("portfolio.trofy.images.logic"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.logic"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.logic_1') %></p>
      <p class="post-text"><%= t('portfolio.trofy.logic_2') %></p>
      <p class="post-text"><%= t('portfolio.trofy.logic_3') %></p>
      <pre><code class="language-javascript">//Objective Controller Code Snippet

public void GenerateDayList() {
  dayList = new List<DayInfo>();
  int startDayOfWeek = (int)startDate.DayOfWeek;

  for (int i = startDayOfWeek; i < startDayOfWeek + 7; i++)
  {
    DateTime currentDay = startDate.AddDays(i - startDayOfWeek);
    DayInfo dayInfo = new DayInfo(currentDay, (i) % 7, 1, difficulty);
    dayList.Add(dayInfo);
  }

  DateTime currentDate = DateTime.Now;
  CheckDayList(currentDate);
}</code></pre>
      <p class="post-text"><%= t('portfolio.trofy.logic_4') %></p>
      <%= link_to t("portfolio.trofy.images.notifications"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.notifications"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.logic_5') %></p>
      <ol type="1" class="post-text">
        <li><%= t('portfolio.trofy.logic_6_html') %></li>
        <li><%= t('portfolio.trofy.logic_7_html') %></li>
        <li><%= t('portfolio.trofy.logic_8_html') %></li>
      </ol>
      <p class="post-text"><%= t('portfolio.trofy.logic_9') %></p>
      <img class="post-image shadow half center" src="/images/projects/trofy/Trofy_LanguageChange_Portfolio_GIF.gif">
      <p class="post-text"><%= t('portfolio.trofy.logic_10') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="design"><%= t('portfolio.trofy.design') %></h2>
      <%= link_to t("portfolio.trofy.images.design"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.design"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.design_1') %></p>
      <p class="post-text"><%= t('portfolio.trofy.design_2_html') %></p>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_character.png">

      <div class="post-line"></div>

      <h2 class="post-heading" id="wireframe"><%= t('portfolio.trofy.wireframe') %></h2>
      <%= link_to t("portfolio.trofy.images.wireframe"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.wireframe"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.wireframe_1') %></p>
      <a href="/images/projects/trofy/Trofy_8_1_MVP_PZLabs_Portfolio.png" target="_blank"><img class="post-image shadow" src="/images/projects/trofy/Trofy_8_1_MVP_PZLabs_Portfolio.png"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="roadmap"><%= t('portfolio.trofy.roadmap') %></h2>
      <%= link_to t("portfolio.trofy.images.roadmap"), target: "_blank" do %>
        <%= image_tag t("portfolio.trofy.images.roadmap"), class: "post-image shadow" %>
      <% end %>
      <p class="post-text"><%= t('portfolio.trofy.roadmap_1') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="demo"><%= t('portfolio.trofy.demo') %></h2>
      <div class="post-video">
        <iframe 
          src="https://www.youtube-nocookie.com/embed/5UU06yBFbc8"
          title="YouTube video player"
          loading="lazy"
          style="border: 0; border-radius: 20px;"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
      <div class="post-spacing"></div>
      <p class="post-text half center"><%= t('portfolio.trofy.demo_1') %></p>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_AppIcon_Portfolio.png">
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/BornSurvivor-V0.1.0-PC-Demo" data-new-tab="true"><%= t('portfolio.trofy.demo_btn') %></button>
      <p class="post-text"><%= t('portfolio.trofy.demo_2') %></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="learnings"><%= t('portfolio.trofy.learnings') %></h2>
      <img class="post-image shadow half center" src="/images/projects/trofy/Trofy_TwoCompletes_GIF.gif">
      <p class="post-text"><%= t('portfolio.trofy.learnings_1') %></p>
      <p class="post-text"><%= t('portfolio.trofy.learnings_2') %></p>
      <ol type="1" class="post-text">
        <li><%= t('portfolio.trofy.learnings_li_1_html') %></li>
        <li><%= t('portfolio.trofy.learnings_li_2_html') %></li>
        <li><%= t('portfolio.trofy.learnings_li_3_html') %></li>
        <li><%= t('portfolio.trofy.learnings_li_4_html') %></li>
        <li id="ai"><%= t('portfolio.trofy.learnings_li_5_html') %></li>
      </ol>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_Closing_Portfolio.png">
      <p class="post-text center"><%= t('portfolio.trofy.closing') %></p>
      <div class="post-spacing"></div>
      <div class="post-line"></div>
    </div>
  </section>

  <section class="post-references-section">
    <div class="post-references-container">
      <p class="post-text center half text-highlight"><%= t('about.cta_projects') %></p>
      <%= render "shared/projects_list", skip: "trofy" %>
    </div>
  </section>
</main>