<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title><%= content_for(:title) || "PZLabs" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PZLabs">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" type="image/svg+xml" href="icons/coin-gold.svg">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <nav class="header-nav">
        <div class="header-menu-container">
          <div class="js-header-menu">
            <button class="js-animated-button js-menu-toggle cta-button nav-button desktop-nav">
              <img class="button-icon" src="icons/icon_menu_dark.png">
            </button>

            <div class="js-header-drawer header-menu-nav-drawer">
              <button class="js-animated-button cta-button nav-button menu-fix-width text" data-action="navigate" data-target="<%= projects_path %>">
                <p class="small" data-i18n="header.projects"></p>
                <img class="button-icon small" src="icons/icon_right_dark.png">
              </button>
              
              <button class="js-animated-button cta-button nav-button menu-fix-width text" data-action="navigate" data-target="<%= about_path %>" data-tracking="aboutClick">
                <p class="small" data-i18n="header.about"></p>
                <img class="button-icon small" src="icons/icon_right_dark.png">
              </button>
            </div>
          </div>
          <div class="js-header-menu">
            <button class="js-animated-button js-menu-toggle cta-button language-fix-width nav-button">
              <img class="button-icon" src="icons/icon_language_dark.png">
              <img class="button-icon small" src="icons/icon_down_dark.png">
            </button>

            <div class="js-header-drawer header-menu-nav-drawer">
              <button class="js-pt-locale js-animated-button cta-button nav-button language-fix-width text">PT</button>

              <button class="js-en-locale js-animated-button cta-button nav-button language-fix-width text">EN</button>
            </div>
          </div>
        </div>
        <div class="header-menu-container column">
          <button class="js-animated-button js-coin-summary coin-summary cta-button fixed-width hidden">
            <div class="gold-coin-container">
              <img class="summary-icon" src="icons/coin-gold.svg">
            </div>
            <div class="js-coin-amount coin-amount"></div>
          </button>
          <div class="js-notification-container notification-container closed">
            <div class="js-notification-close-btn notification-close-btn-container">
              <button class="notification-close-btn"><img class="button-icon small" src="icons/icon_x_dark_thin.png"></button>
            </div>
            <p class="js-notification-title notification-title"></p>
            <p class="js-notification-description"></p>
          </div>
        </div>
      </nav>
    </header>

    <nav class="mobile-nav">
      <div class="mobile-nav-container">
        <button class="js-mobile-nav-button mobile-nav-button" data-action="navigate" data-target="<%= root_path %>">
          <div class="mobile-nav-icon-container">
            <img class="mobile-nav-icon" src="icons/icon_mobile_nav_home_light.png"> 
            <img class="js-nav-active mobile-nav-icon" src="icons/icon_mobile_nav_home_dark.png"> 
          </div>
          <div class="js-nav-active mobile-nav-text" data-i18n="mobile-nav.home-nav">Home</div>
        </button>
        <button class="js-mobile-nav-button mobile-nav-button" data-action="navigate" data-target="<%= projects_path %>">
          <div class="mobile-nav-icon-container">
            <img class="mobile-nav-icon" src="icons/icon_mobile_nav_app_light.png">
            <img class="js-nav mobile-nav-icon inactive" src="icons/icon_mobile_nav_app_dark.png">
          </div>
          <div class="js-nav mobile-nav-text inactive" data-i18n="mobile-nav.projects-nav">Projects</div>
        </button>
        <button class="js-mobile-nav-button mobile-nav-button" data-action="navigate" data-target="<%= about_path %>" data-tracking="aboutClick">
          <div class="mobile-nav-icon-container">
            <img class="mobile-nav-icon" src="icons/icon_mobile_nav_about_light.png"> 
            <img class="js-nav mobile-nav-icon inactive" src="icons/icon_mobile_nav_about_dark.png">
          </div>
          <div class="js-nav mobile-nav-text inactive" data-i18n="mobile-nav.about-nav">About</div>
        </button>
      </div>
    </nav>

    <%= yield %>
  
    <footer>
      <div class="footer-container">
        <div class="footer-small-font">
          <p class="footer-small-font">v1.03a</p>
          <p class="footer-small-font" data-i18n="footer.credits"></p>
          <a class="link" href="https://github.com/ZPAlexis">Alexis Coelho //.zero</a>
          <p class="footer-small-font" data-i18n-html="footer.credits-2"></p>
        </div>
      </div>
    </footer>

    <nav class="return-to-top-container">
      <button class="js-animated-button  js-return-to-top cta-button nav-button return-to-top hidden">
        <img class="button-icon" src="icons/icon_up_dark.png">
      </button>
    </nav>
  </body>
</html>
